# These files are text and should be normalized (convert crlf => lf)
*.cs      text diff=csharp
*.xaml    text
*.csproj  text
*.sln     text
*.tt      text
*.ps1     text
*.cmd     text
*.msbuild text
*.md      text

* .MF text
* .conf text
* .html text
* .java text
* .md text
* .move_scala_to_com_restphone text
* .prefs text
* .sbt text
* .scala text
* .sh text
* .txt text
* .xml text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary

*.sdf     binary

