<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
>
   <extension
         id="Builder"
         name="Android Proguard Scala Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.restphone.androidproguardscala.AndroidProguardScalaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="Nature"
         name="Android Proguard Scala Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.restphone.androidproguardscala.AndroidProguardScalaNature">
         </run>
      </runtime>
      <builder
            id="com.restphone.androidproguardscala.Builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="AndroidProguardScala.contribution1">
         <action
               label="Add AndroidProguardScala Nature"
               class="com.restphone.androidproguardscala.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="1"
               id="AndroidProguardScala.addRemoveNatureAction">
         </action>
         <visibility>
           <not>
             <objectState name="projectNature" value="com.restphone.androidproguardscala.Nature" />
           </not>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="AndroidProguardScala.contribution1">
         <action
               label="Remove AndroidProguardScala Nature"
               class="com.restphone.androidproguardscala.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="1"
               id="AndroidProguardScala.addRemoveNatureAction">
         </action>
         <visibility>
             <objectState name="projectNature" value="com.restphone.androidproguardscala.Nature" />
         </visibility>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.restphone.androidproguardscala.preferences.ClasspathPreferences"
            id="com.restphone.androidproguardscala.preferences.ClasspathPreferences"
            name="Classpath Entry Preferences">
      </page>
   </extension>

   <extension id="preferences" point="org.eclipse.core.runtime.preferences" name="preferences">
		<scope name="project" class="org.eclipse.core.internal.resources.ProjectPreferences"/>
	</extension>
	
	<extension id="com.restphone.androidproguardscala.properties"
		     name="AndroidProguardScala propx"
	        point="org.eclipse.ui.propertyPages">
	  <page objectClass="org.eclipse.core.resources.IProject"
	        adaptable="true"
	        name="AndroidProguardScala prop2" 
	       class="com.restphone.androidproguardscala.preferences.ClasspathPreferences"
	          id="com.restphone.androidproguardscala.preferences.ClasspathPreferencesid">
	  </page>
	</extension>
</plugin>
