# Sample Proguard config file for ProguardCache.
#
# For your configuration, change:
#
#   scala-library.jar
#   outjar
#   injars
#   -keep for your own classes


# Change scala-library.jar to your scala library
-injars /Users/james/lib/scala-2.9.1.final/lib/scala-library.jar(!META-INF/MANIFEST.MF,!library.properties)

# Change where you want the output jar.  Note that CKSUM will be replace by an actual checksum
-outjar ../target/proguard_cache/scala-library.CKSUM.jar

# Change injars to point to where you store your own .class files
-injars ../target/scala-2.9.1

# Point to your own android.jar file
-libraryjars /Users/james/lib/android-sdk-mac_86/platforms/android-13/android.jar

-dontwarn
-dontoptimize
-dontobfuscate
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers

-keepattributes Exceptions,InnerClasses,Signature,Deprecated,
                SourceFile,LineNumberTable,*Annotation*,EnclosingMethod

# Change com.restphone to your own package
-keep public class com.restphone.* {
    *;
}

-keep public class scala.App
-keep public class scala.DelayedInit
-keep public class scala.ScalaObject
-keep public class scala.Function0, scala.Function1, scala.collection.mutable.ListBuffer
