-forceprocessing
-dontwarn
-verbose
-injars /Users/james/lib/scala-2.9.1.final/lib/scala-library.jar(!META-INF/MANIFEST.MF,!library.properties)
-outjar gen/scala-library.TMP.jar
-injars bin
-libraryjars /Users/james/lib/android-sdk-mac_86/platforms/android-13/android.jar

-dontoptimize
-dontobfuscate
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers

-keepattributes Exceptions,InnerClasses,Signature,Deprecated,
                SourceFile,LineNumberTable,*Annotation*,EnclosingMethod
-keep public class com.restphone.* {
    *;
}
-keep public class scala.App
-keep public class scala.DelayedInit
-keep public class scala.ScalaObject
-keep public class scala.xml.*
-keep public class scala.Function0, scala.Function1, scala.collection.mutable.ListBuffer
